@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


body{
    background-color: #747474;
}

h1{
    text-align: center;
    width: 955px;
    font-family: 'Aboreto', cursive;
    margin: 0px auto;
}

img{
    display: block;
    width: 530px;
    margin: 0px auto;
}

a{
    display: block;
    width: 165px;
    margin: 0px auto;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

a:hover{
    color: blue;
    font-weight: bolder;
    text-decoration: underline;
}