:root{
    --cor01: #9C9511;
    --cor02: #02199c;
    --cor03: #E8DC02;
    --cor04: #EB6C84;
    --cor05: #9c09249c;
    --cor06: #7674f5;
    --cor07: #1AACE8;
    --cor08: #9C0924;
    --cor09: #000033;
    --cor10: #0f5672;
}

/*
:root{
    --cor01: #9C9511;
    --cor02: #1AACE8;
    --cor03: #E8DC02;
    --cor04: #EB6C84;
    --cor05: #9C0924;
    --cor06: #acacac;
    --cor07: #1AACE8;
}
CORES ORIGINAIS
*/

*{
    margin: 0px;
}

/*----------------------- HEADER -----------------------*/

header{
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor07));
    height: 300px;
    color: white;
}

nav#navHeader{
    padding-top: 20px;
    text-align: left;
    margin-left: auto;
    width: 530px;
}

nav#navHeader > a{
    padding: 5px 10px;
    background-color: var(--cor05);
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav#navHeader > a:hover{
    background-color: var(--cor08);
}

h1{
    margin-top: 60px;
    text-indent: 120px;
    font-size: 32px;
}

h2{
    text-indent: 100px;
    font-size: 48px;
}

/*----------------------- HEADER -----------------------*/

/*------------------------ MAIN ------------------------*/

main{
    background-image: linear-gradient(to bottom, var(--cor07), var(--cor07), var(--cor07), var(--cor10),var(--cor09));
}

/* BRASIL */

h3#tituloSessaoViagensBrasil{
    font-size: 25px;
    text-indent: 80px;
    margin-bottom: 10px;
}

h3#tituloSessaoViagensInternacionais{
    font-size: 25px;
    text-indent: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div#brasil{
    background-color: var(--cor06);
    display: block;
    margin: 0px auto;
    height: 265px;
    width: 1227px;
    border-radius: 3px;
}

a.lugaresBrasil{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    margin: 10px;
    height: 220px;
    width: 220px;
    border: 1px solid var(--cor06);
}

a.lugaresBrasil > img{
    border-radius: 5px;
}

a.lugaresBrasil:hover{
    border: 1px solid var(--cor08);
    border-radius: 5px;
    color: var(--cor08);
}

/* INTERNACIONAL */

div#internacional{
    background-color: var(--cor06);
    display: block;
    margin: 0px auto;
    height: 265px;
    width: 1227px;
    border-radius: 3px;
}

a.lugaresInternacionais{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    margin: 10px;
    height: 220px;
    width: 220px;
    border: 1px solid var(--cor06);
}

a.lugaresInternacionais > img{
    border-radius: 5px;
}

a.lugaresInternacionais:hover{
    border: 1px solid var(--cor08);
    border-radius: 5px;
    color: var(--cor08);
}

/*------------------------ MAIN ------------------------*/

/*------------------------ FOOTER ------------------------*/

footer{
    background-image: linear-gradient(to bottom, var(--cor09), black 40%);
    padding-top: 50px;
    background-color: black;
}

ul{
    width: 110px;
}

a.linksFooter > li{
    width: 110px;
}

a.linksFooter{
    width: 110px;
    color: white;
    text-decoration: none;
}

a.linksFooter:hover{
    text-decoration: underline;
}

a#linkCreator{
    color: white;
    text-decoration: none;
}

a#linkCreator:hover{
    text-decoration: overline;
}

p#creatorFooter{
    color: white;
    padding-bottom: 15px;
    width: 273px;
    margin-left: auto;
    margin-right: 20px;
}

footer > p{
    color: white;
}

/*------------------------ FOOTER ------------------------*/