:root{
    --cor01: #9C9511;
    --cor02: #02199c;
    --cor03: #E8DC02;
    --cor04: #EB6C84;
    --cor05: #9c09249c;
    --cor06: #acacac;
    --cor07: #1AACE8;
    --cor08: #9C0924;
}

/*
:root{
    --cor01: #9C9511;
    --cor02: #1AACE8;
    --cor03: #E8DC02;
    --cor04: #EB6C84;
    --cor05: #9C0924;
    --cor06: #acacac;
    --cor07: #1AACE8;
}
CORES ORIGINAIS
*/

*{
    margin: 0px;
}

/*----------------------- HEADER -----------------------*/

header{
    background-color: var(--cor02);
    height: 300px;
    color: white;
}

nav#navHeader{
    padding-top: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: -50px;
    width: 600px;
}

nav#navHeader > a{
    padding: 5px 10px;
    background-color: var(--cor05);
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav#navHeader > a:hover{
    background-color: var(--cor08);
}

h1{
    margin-top: 60px;
    text-indent: 120px;
}

h2{
    text-indent: 100px;
    font-size: 48px;
}

/*----------------------- HEADER -----------------------*/

/*------------------------ MAIN ------------------------*/

/* BRASIL */

div#brasil{
    background-color: var(--cor06);
    display: block;
    margin: 0px auto;
    height: 265px;
    width: 1227px;
    border-radius: 3px;
}

a.lugaresBrasil{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    margin: 10px;
    height: 220px;
    width: 220px;
    border: 1px solid var(--cor06);
}

a.lugaresBrasil > img{
    border-radius: 5px;
}

a.lugaresBrasil:hover{
    border: 1px solid var(--cor08);
    border-radius: 5px;
    color: var(--cor08);
}

/* INTERNACIONAL */

div#internacional{
    background-color: var(--cor06);
    display: block;
    margin: 0px auto;
    height: 265px;
    width: 1227px;
    border-radius: 3px;
}

a.lugaresInternacionais{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    margin: 10px;
    height: 220px;
    width: 220px;
    border: 1px solid var(--cor06);
}

a.lugaresInternacionais > img{
    border-radius: 5px;
}

a.lugaresInternacionais:hover{
    border: 1px solid var(--cor08);
    border-radius: 5px;
    color: var(--cor08);
}

/*------------------------ MAIN ------------------------*/