@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* font-family: 'Aboreto', cursive; 
   Para Títulos */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Dosis', sans-serif; 
   Para Textos */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Anek Telugu', sans-serif; 
   Para Links */

:root{
    --cor01: #00e01371;
    --cor02: #E06B00;
    --cor03: #5B2BE0;
    --cor04: #189423;
    --cor05: #944700;
    --cor06: black;
    --cor07: #5b2be06b;
    --cor08: blue;
    --cor09: #0a3d0f;
    --cor10: #00e013;
    --cor11: white;
    --cor12: #E8DC02;
    --cor13: #02199c;

    --fonteTitulo: 'Aboreto', cursive;
    --fontePadrao: 'Dosis', sans-serif;
    --fonteLinks: 'Anek Telugu', sans-serif;
}

*{
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor09));
}

/*------------------------------- HEADER -------------------------------*/

header{
    background-color: var(--cor01);
    width: 1200px;
    margin: 5px auto;
    border-radius: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 0px 0px 10px 0px var(--cor06);
}

h1{
    text-align: center;
    font-family: var(--fonteTitulo);
    font-size: 35px;
    background-color: var(--cor09);
    width: 700px;
    height: 53px;
    margin: 0px auto;
    color: var(--cor11);
    border-radius: 50px;
}

div#alinharImagem_e_Nav{
    display: block;
    width: 700px;
    margin: 0px auto;
}

img#mapaHeader{
    display: inline-block;
    border-radius: 50%; 
    margin: 20px auto 10px auto;
}

nav{
    display: inline-block;
    width: 95px;
    vertical-align: 150px;
}

header a{
    display: block;
    width: 85px;
    font-family: var(--fontePadrao);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor06);
    border-radius: 5px;
    border: 1px solid #00000000;
    padding: 2px;
}

header a:hover{
    border: 1px solid var(--cor06);
}

/*------------------------------- HEADER -------------------------------*/

/*------------------------------- MAIN -------------------------------*/

main{
    background-color: var(--cor02);
    width: 1100px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--cor06);
}

h2{
    font-family: var(--fonteTitulo);
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

h3{
    font-family: var(--fonteTitulo);
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

p{
    font-family: var(--fontePadrao);
    text-indent: 30px;
    font-size: 20px;
    font-weight: 500;
    width: 1000px;
    margin: 0px auto;
}

a.linksTextos{
    display: inline;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor11);
}

a.linksTextos:hover{
    text-decoration: underline;
}

img.img1{
    display: inline-block;
    height: 250px;
    width: 400px;
    margin: 5px;
}

img.img2{
    display: inline-block;
    height: 250px;
    width: 400px;
    margin: 5px;
}

div.imagensMain{
    display: block;
    margin: 0px auto;
    padding: 10px 0px;
    width: 825px;
}

img.img3{
    display: block;
    height: 250px;
    width: 400px;
    margin: 0px auto 10px auto;
}

a.botaoParaCima{
    display: block;
    width: 70px;
    text-decoration: none;
    margin: 0px auto;
    color: var(--cor06);
    font-family: var(--fonteLinks);
    font-weight: bolder;
    font-size: 13px;
}

a.botaoParaCima:hover{
    color: var(--cor11);
    font-weight: bolder;
    text-decoration: underline;
}

/*------------------------------- MAIN -------------------------------*/

/*------------------------------- FOOTER -------------------------------*/

footer{
    background-color: var(--cor01);
    width: 1300px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--cor06);
}

footer > ul a{
    color: var(--cor11);
    font-family: var(--fonteLinks);
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #00000000;
    padding: 4px 5px 0px 5px;
}

footer > ul a:hover{
    border: 1px solid var(--cor06);
}

footer > ul a:hover::before{
    content: ' ➡';
}

footer > ul li{
    padding: 5px;
}

a#returnButton{
    display: block;
    width: 210px;
    text-decoration: none;
    margin-left: auto;
    padding-top: 10px;
    text-indent: 30px;
    color: var(--cor06);
    font-family: var(--fonteLinks);
    font-weight: bolder;
    font-size: 16px;
}

a#returnButton:hover{
    color: var(--cor11);
    font-weight: bolder;
    text-decoration: underline;
}

a#linkCreator{
    color: var(--cor11);
    text-decoration: none;
    font-family: var(--fonteLinks);
    font-weight: bold;
    font-size: 16px;
}

a#linkCreator:hover{
    text-decoration: overline;
    color: var(--cor12);
}

p#creatorFooter{
    color: var(--cor11);
    padding-bottom: 5px;
    padding-top: 50px;
    width: 315px;
    margin: 0px auto;
    font-family: var(--fonteLinks);
    font-size: 16px;
}

footer > p{
    color: var(--cor11);
    font-size: 16px;
}

/*------------------------------- FOOTER -------------------------------*/