@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* font-family: 'Aboreto', cursive; 
   Para Títulos */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Dosis', sans-serif; 
   Para Textos */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Anek Telugu', sans-serif; 
   Para Links */

:root{
    --cor01: red;
    --cor02: white;

    --fonteTitulo: 'Aboreto', cursive;
    --fontePadrao: 'Dosis', sans-serif;
    --fonteLinks: 'Anek Telugu', sans-serif;
}

body{
    background-image: linear-gradient(to right, var(--cor02), var(--cor01), var(--cor02));
}

h1{
    font-family: var(--fonteTitulo);
    margin-top: 100px;
    text-align: center;
}

img{
    display: block;
    margin: 0px auto;
}

a{
    display: block;
    width: 500px;
    margin: 0px auto;
}

a#backButton{
    display: block;
    width: 320px;
    margin: 150px auto 0px auto;
    font-size: 24px;
    font-family: var(--fonteLinks);
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a#backButton:hover{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}